file/lecture_3_06_example_hello_JAXB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Greetings">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Hello">
					<xs:complexType>
						<xs:attribute name="Text" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>